<a href="https://colab.research.google.com/github/enosung/ubion/blob/main/%EC%B2%AB%EC%88%98%EC%97%8501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###빅데이터 마케팅 전문가 과정
#김효성
###### 2022.12.29

In [ ]:
print("HELLO WORLD!") # HELLO WORLD!를 나타내줘

HELLO WORLD!

In [ ]:
a = "python"       #쌍따옴표로 문자건 숫자건 내가 지정한 변수a에 내용을 나타내줘

In [ ]:
a   #a 출력

'python'

In [ ]:
print(a)  #print 함수로 a 출력

python

In [ ]:
del a # 삭제해 a 변수

In [ ]:
print(a) #a변수 출력해줘 / 이전에 del 함수로 a변수 삭제해서 에러발생

NameError: ignored

In [ ]:
a = 2   #a 변수 선언하고 a에 2라는 숫자를 지정

In [ ]:
print (a)  #print 함수로 a 출력   출력값 : 2

2

In [ ]:
b = 4 #b 변수 선언하고 b에 4라는 숫자를 지정

In [ ]:
print (b) #print 함수로 b출력

4

In [ ]:
a+b
# a변수+b변수

6

In [ ]:
a*b
#a*b 곱

8

In [ ]:
a/b
# a변수 ÷ b 변수

0.5

In [ ]:
a = 123   #a 변수 선언하고 a에 123라는 숫자를 지정

In [ ]:
type(a)
# type함수로 변수 a의 타입은 어떤건지 출력 /   현재  int  정수

int

In [ ]:
b = 123.1 #b 변수 선언하고 b에 123.1 라는 소수점을 지정

In [ ]:
type(b)
# type함수로 변수 a의 타입은 어떤건지 출력  (float 실수/소수점을 포함한 숫자)

float

In [ ]:
c = a+b  # c변수 생성하고 c변수에 a변수+b변수를 넣어줘

In [ ]:
c  # c 를 출력

246.1

In [ ]:
type(c) # type함수로 변수 a의 타입은 어떤건지 출력  (float 실수/소수점을 포함한 숫자)

float

In [ ]:
type(int(c)) #타입을 int함수를 이용해서 c변수를  정수로 변경해줘

int

In [ ]:
d = "python"   # d 변수 만들고 b변수안에 python를 넣어줘

In [ ]:
type(d)
# type함수로 변수 d의 타입은 어떤건지 출력 / str 문자

str

In [ ]:
3**3
# 숫자제곱    숫자**숫자

27

In [ ]:
3**0.5
#루트는 제곱에 2/1이니까 파이썬에서는  0.5소수 /  **0.5로 표현

1.7320508075688772

In [ ]:
13/4
# 13÷4

3.25

In [ ]:
13//4
#13÷4 정수만 뽑을땐 // 사용

3

In [ ]:
13%4
#13÷4 나누고 나머지값을 출력

1

In [ ]:
print ("ubion's the best.")

ubion's the best.

In [ ]:
print("ubion isn't the best")

ubion isn't the best

In [ ]:
print('ubion isn\'t the best')
# 쌍따옴표가 아닌 따옴표를 쓸때 \'를 쓰면 '따옴표를 쓸수있다

ubion isn't the best

In [1]:
print('ubion isn\'     t the best') #붙여주는 기능은 없는거 같다. \를 이용해서 따옴표를 쓸수있는듯

ubion isn'     t the best

In [2]:
print('ubion is the best.\n ubion isn\'t the best')
#\n 을 이용해서 뛰어쓰기

ubion is the best.
 ubion isn't the best

In [ ]:
a = "ubion is the best."

In [ ]:
b = "ubion isn't the best"

In [ ]:
ubion = a+b

In [ ]:
print(ubion)

ubion is the bestubion isn't the best

In [ ]:
a*20
#a를 20번 나타내라

'ubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the best'

In [ ]:
print("-"*40)
print(a*2)
print("-"*30)
#-를40번 나타내고 a의 문자열을 2번 나타내고 마지막으로 -를 30번 나타내라

----------------------------------------
ubion is the best.ubion is the best.
------------------------------

In [ ]:
"유비온은 최고의 교육기간이다."[0:3]
# [a:b] : a<- x <b]
# [a(행):b(열)] : a<- x <b]
#a보다 크거나 같고, b보다 작은 인덱스를 꺼내온다.

'유비온'

In [ ]:
"유비온은 최고의 교육기간이다."[-3]
#-2는 뒤에서 3번째만 불러와라

'이'

In [ ]:
first_name = "hyosung kim "[:7]
print(first_name)
#처음부터 7번째 문자까지 불러와줘

hyosung

In [ ]:
last_name = "hyosung kim"[8:]
print(last_name)
#8번째부터 마지막까지 불러와줘

kim

In [ ]:
name = "hyosung kim"
len(name)
#문자열이 몇개인지 숫자료 표현해줘

11

In [ ]:
first_name = "hyosung kim "[-4:-1]
print(first_name)
#뒤에서 4번째부터 마지막1번까지 나태내줘

kim

In [ ]:
name.count("o")
#이름에 o 몇개인지 카운트해줘

1

In [ ]:
name.find("h")
#이름에 h 몇번째에 있는지 알려줘

0

In [ ]:
name.find("k")
#이름에 k 몇번째에 있는지 알려줘

8

In [ ]:
a = " "
a.join("hyosung kim")
#  a에 추가해줘

'h y o s u n g   k i m'

In [ ]:
name.upper()
#이름을 대문자로 변경

'HYOSUNG KIM'

In [ ]:
name.lower()
#이름을 소문자로 변경

'hyosung kim'

In [ ]:
name[:3]+name[3].upper()name+[4:]

SyntaxError: ignored

In [ ]:
name = " hyosung kim "
name

' hyosung kim '

In [ ]:
name.strip(a)
#a 문자열의 앞과 뒤 즉, 왼쪽과 오른쪽에서 모두 문자를 제거??? 문자열.strip(삭제할문자) (공백제거)

'hyosung kim'

In [ ]:
name.rstrip(a)

' hyosung kim'

In [ ]:
name.replace("kim","you")
#김을 유로 변경해줘

' hyosung you '

In [ ]:
name.split()
#단어를 나눠줘

['hyosung', 'kim']

In [ ]:
ubion = "ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best."

In [ ]:
ubion = ubion.split(".")

AttributeError: ignored

In [ ]:
print(ubion)

['ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', '']

In [ ]:
aryucke1 = "코로나가19 확진자 "[0]
print(aryucke1)

코

In [ ]:
print(ubion)
ubion2 = ubion.split(".")

ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.

In [ ]:
aryucke1

In [ ]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [ ]:
type(a)

list

In [ ]:
b = (1,2,3,4,5)
b

(1, 2, 3, 4, 5)

In [ ]:
type(b)
#타입은 튜플이다

tuple

In [ ]:
a[3] = 7
a
#튜플이라 변경 불가

[1, 2, 3, 7, 5]

In [ ]:
b.replace(3,4)
#튜플이라 변경 불가

AttributeError: ignored

In [ ]:
a = [1,2,3,4,5]
b = ["1","2","3"]
a+b

[1, 2, 3, 4, 5, '1', '2', '3']

In [ ]:
a * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
b * 2

['1', '2', '3', '1', '2', '3']

In [ ]:
c = b * 2

In [ ]:
c[1]

'2'

In [ ]:
c[1] = "3"

In [ ]:
c

['1', '3', '3', '1', '2', '3']

In [ ]:
b = ("1","2","3")

In [ ]:
b[2]
#인덱스 2번째를 불러줘

'3'

In [ ]:
b[2] = "2"
#튜플로 지정해서 변경 불가

TypeError: ignored

In [ ]:
len(a)

5

In [ ]:
len(b)

3

In [ ]:
a[0:3]

[1, 2, 3]

In [ ]:
del a

In [ ]:
a

NameError: ignored

In [2]:
a = [1,2,3,4,5]
del a[0]
a
#지워줘 a 변수의 0번째를

[2, 3, 4, 5]

In [4]:
a = [1,2,4,3,5,6,8,7,9,10]
a.append(11)
a
# a 변수를 11를 맨뒤에 붙여줘

[1, 2, 4, 3, 5, 6, 8, 7, 9, 10, 11]

In [ ]:
a.sort()
a
#정렬해줘

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
a.reverse()
a
#반대로 정렬해줘

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a.index(6)
#a안에서 6의 인덱스를 찾아줘 0부터 시작

5

In [ ]:
a.index(2, 6)
#인덱스 2번째 안에서 기준점을 찾아줘야하는데 지금 안되고 있다

9

In [ ]:
a.index(2)

9

In [ ]:
a.insert(2, 30)
#2번째에 30을 넣어줘

In [1]:
a

NameError: ignored

In [ ]:
a.remove(30)
#a안에서 30을 지워줘

In [ ]:
a

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a.pop(6) #인덱스안에서 제거해줘

1

In [ ]:
a

[11, 8, 7, 6, 4, 3]

In [ ]:
a.pop()
#아무것도 안쓰면 맨 마지막 숫자를 뽑아낸다

3

In [2]:
a

NameError: ignored

In [1]:
a.count(4)

NameError: ignored

In [ ]:
a.count(11)
# a 안에 11을찾아줘

1

In [ ]:
a=[1,1,2,3,4,5,5,5,6,6,]

In [ ]:
a.count(5)

3

In [ ]:
len(a)

10

In [ ]:
import numpy as np

In [ ]:
matrix = [[1,2,3,4,],[5,6,7,8,],[9,10,11,12]]
matrix
np.array(matrix, int).shape
# shape는 메트릭스안에 행과열을 알려줘

(3, 4)

In [ ]:
a = ()
b = (1,2,3)

In [ ]:
c = ("x", "y", "z")

In [ ]:
d = b+c

In [ ]:
d

(1, 2, 3, 'x', 'y', 'z')

In [ ]:
a, b , c = (1,),(2,3),(4,5)

In [ ]:
print(a)

(1,)

In [ ]:
print(b)

(2, 3)

In [ ]:
print(c)

(4, 5)

In [ ]:
a = (1,2,3,4,)

In [ ]:
del a[1]
#튜플이라 삭제 불가

TypeError: ignored

In [ ]:
a = {"달러" : 1400, "엔화" : 100} #딕셔너리  [키랑 값] 사전으로 만든것
a

{'달러': 1400, '엔화': 100}

In [ ]:
a["달러"]

1400

In [ ]:
a["위안"]

KeyError: ignored

In [ ]:
a[1400]
#없으니 당연히 안나온다

KeyError: ignored

In [ ]:
print (a.get("위안"))

None

In [ ]:
print (a.get("달러"))

1400

In [ ]:
a.get("위안", "그런거 없어")

'그런거 없어'

In [ ]:
a ["위안"] = 300

In [ ]:
a

{'달러': 1400, '엔화': 100, '위안': 300}

In [ ]:
a.get("위안", "그런거 없어")

300

In [ ]:
del a["엔화"]

In [ ]:
a

{'달러': 1400, '위안': 300}

In [ ]:
a = {'달러' : 1400, '위안' : 300, '위안' : 320'}

SyntaxError: ignored

In [ ]:
a.keys()
#a에서 문자만 보여줌

dict_keys(['달러', '위안'])

In [ ]:
a.values()
##a에서 숫자만 보여줌

dict_values([1400, 300])

In [ ]:
a = "statustucs"
s = set(a)
s
#집합처럼 나온다 / 중복된 값은 허용하지 않는다

{'a', 'c', 's', 't', 'u'}

In [ ]:
com = ["사원", "대리","팀장","실장"]

In [ ]:
s_com = set(com)

In [ ]:
s_com

{'대리', '사원', '실장', '팀장'}

In [ ]:
a = set ([1,2,3])
b = set ([2,3,4])

In [ ]:
a

{1, 2, 3}

In [ ]:
b

{2, 3, 4}

In [ ]:
a & b
#"&" 기호를 이용하면 교집합을 간단히 구할 수 있다.

{2, 3}

In [ ]:
a|b
# 합집합은 "|" 사용해 다음과 같이 구할 수 있다. 이때 4, 5, 6처럼 중복해서 포함된 값은 한 개씩만 표현된다.

{1, 2, 3, 4}

In [ ]:
a - b
# 차집합은 다음과 같이 빼기(-) 기호를 사용 구할 수 있다.  / b의 차집합을 나타내게 하려면 b-a를 입력

{1}

In [ ]:
a.update([5,6,7])
#  a.add(4) 1개의 값만 추가(add)할 경우에는 다음과 같이 한다. 여러 개의 값을 한꺼번에 추가(update) 사용

In [ ]:
a

{1, 2, 3, 5, 6, 7}

In [ ]:
a.remove(3)
#해당하는 숫자만 지워줘

In [ ]:
a

{1, 2, 5, 6, 7}

In [ ]:
a.remove(5)

In [ ]:
a

{1, 2, 6, 7}

In [ ]:
a.remove(7)

In [ ]:
a
# remove로 5를 제거한 결과값

{1, 2, 6}

In [ ]:
a = 100
b = 150
c = 200
# %d : integer 정수
# %f : float 실수
# %s : string 문자

In [ ]:
print("사과 1개의 가격은 %d원 입니다." %a)
#%d를 이용해서 계속 변할수 있는 함수를 할때 이용하면된다.

사과 1개의 가격은 100원 입니다.

In [ ]:
print("사과 1개의 가격은 %d원 입니다." %b)

사과 1개의 가격은 150원 입니다.

In [ ]:
print("사과 1개의 가격은 %d원 입니다." %c)

사과 1개의 가격은 200원 입니다.

In [ ]:
print("사과 1개의 가격은 %d원 입니다. 사과 2개의 가격은 %d원 입니다" %(a, b))

사과 1개의 가격은 100원 입니다. 사과 2개의 가격은 150원 입니다

In [ ]:
a = 100.50
b = 150.50
c = 200

In [ ]:
print("사과 2개의 가격은 %.1f원 입니다." %b) #%.1f  f앞에 숫자로 소수점을 몇개 표현할건지 정한다

NameError: ignored

In [ ]:
d = "김효성"
print("%s 고객님. 안녕하세요" %d)
print("사과 1개의 가격은 %d원 입니다" %a)

김효성 고객님. 안녕하세요
사과 1개의 가격은 100원 입니다

In [ ]:
e = 11

In [ ]:
a+b

TypeError: ignored

In [ ]:
a = (5)

In [ ]:
type(a)

int

In [ ]:
조건문

In [ ]:
#if
1 < 2    # 1보다 2가 크면 맞다고 해줘

True

In [ ]:
1 > 2    #  2보다 1이 크니?  답 : False

False

In [ ]:
1 <= 2  # 2가 1보다 크거나 같니?   답 : True 맞아

True

In [ ]:
1<=1   # 1이 1보다 크거나 같니 ???  답 : True 맞아

True

In [ ]:
# and  교집합 
# or 합집합

In [ ]:
1 and 0 
#트루 펄스에서 펄스가 나온다 / 1 & 0 으로 해도 된다 / 교집합이 안되니까 0 거짓이 나온거다

0

In [ ]:
1 and 1    # and  교집합

1

In [ ]:
1 or 0    # or 합집합

1

In [ ]:
not 1

False

In [ ]:
not 0

True

In [ ]:
"a"in "abc"  #abc안에 a가 있니???  답 : True 있어

True

In [ ]:
"e"in "ebc"   #ebc안에 e가 있니???  답 : True 있어

True

In [ ]:
"a"in "bc"    #bc안에 a가 있니???  답 : False 없어
#스트링 안에서 본것

False

In [ ]:
1 in [0,2,3,4]     #[0,2,3,4] 안에 1가 있니???  답 : False 없어
#리스트에서 본것

False

In [ ]:
1 not in [0,2,3,4]      #[0,2,3,4] 안에 1가 없니???  답 : True 응 니말이 맞아

True

In [ ]:
score = 75
if  score  > 90:
    print ("a")    # 스코어점수가  90보다 크면 a를 출력해줘  (else) 아니면 다음문장으로
else :      #여기까지 한 묶음  if ~ else까지 
    if score > 80 :     # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
        print("b")   # 스코어점수가  80보다 크면 b를 출력해줘  (else) 아니면 다음문장으로
    else :
        if score > 70 :      # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
            print("c")        # 스코어점수가  70보다 크면 c를 출력해줘  
        else :
            if score > 60 :        # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
                print("d")       # 스코어점수가  60보다 크면 d를 출력해줘 
            else :
                 print("f")

c

In [ ]:
score = 55
if  score  > 90:
    print ("a")    # 스코어점수가  90보다 크면 a를 출력해줘  (else) 아니면 다음문장으로
else :      #여기까지 한 묶음  if ~ else까지 
    if score > 80 :     # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
        print("b")   # 스코어점수가  80보다 크면 b를 출력해줘  (else) 아니면 다음문장으로
    else :
        if score > 70 :      # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
            print("c")        # 스코어점수가  70보다 크면 c를 출력해줘  
        else :
            if score > 60 :        # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
                print("d")       # 스코어점수가  60보다 크면 d를 출력해줘 
            else :
                 print("f")   # f를 출력해줘

In [ ]:
1/0
#  ZeroDivisionError: division by zero 영으로 나눠서 잘못됬어

ZeroDivisionError: ignored

In [ ]:
try : 1/0
except :       # 오류가 발생하면  (분모가 0이 나왔음) 출력해줘
    print ("분모가 0이 나왔음")
else : 
    print("분모가 이상없음")      # 만약 오류가 발생하지 않으면 ("분모가 이상없음") 출력해줘

분모가 0이 나왔음

In [ ]:
try : 1/3
except : 
    print ("분모가 0이 나왔음")
else : 
    print("분모가 이상없음")

분모가 이상없음

In [ ]:
반복문

NameError: ignored

In [ ]:
#while. for  반복문 / 와일문은 계속 반복된다 그래서 잘 사용안한다

In [ ]:
i = 0
while i < 10 : 
        i+=1 # i = i+1
        print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in  range(10) :
      print(i)
      #어떤 볌위 안에서 찾아줘라

0
1
2
3
4
5
6
7
8
9

In [ ]:
j = 0
for i in range (10) : 
      j += i #j= i +j
      print(j)
      #하나씩 더해간다???????

0
1
3
6
10
15
21
28
36
45

In [ ]:
j = 0
for i in range (5, 10) : 
      print(i, end = " ")
      #인덱스 기준

5 6 7 8 9

In [ ]:
j = 0
for i in range (5, 10, 2) : 
      print(i, end = " ")

5 7 9

In [ ]:
def f(a) : 
       out = a /3
       return out

In [ ]:
f(30)
#30을 위에 3으로 나눈거다

10.0

In [ ]:
def div_3(a) : 
       out = a /3
       return out

In [ ]:
div_3(30)

10.0