<a href="https://colab.research.google.com/github/enosung/ubion/blob/main/%EC%B2%AB%EC%88%98%EC%97%8501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###빅데이터 마케팅 전문가 과정
#김효성
###### 2022.12.29

In [ ]:
print("HELLO WORLD!") # HELLO WORLD!를 나타내줘

# 변수명은 대문자, 소문자를 구분
#  예약어를 사용하면 안됨
# 공백, 기호는 사용불가.(공백 대신 _ 를 사용)
# 첫 글자가 숫자이면 안됩니다.

HELLO WORLD!

In [ ]:
a = "python"       #쌍따옴표로 문자건 숫자건 내가 지정한 변수a에 내용을 나타내줘

In [ ]:
a   #a 출력

'python'

In [ ]:
print(a)  #print 함수로 a 출력

python

In [ ]:
del a # 삭제해 a 변수

In [ ]:
print(a) #a변수 출력해줘 / 이전에 del 함수로 a변수 삭제해서 에러발생

NameError: ignored

In [ ]:
a = 2   #a 변수 선언하고 a에 2라는 숫자를 지정

In [ ]:
print (a)  #print 함수로 a 출력   출력값 : 2

2

In [ ]:
b = 4 #b 변수 선언하고 b에 4라는 숫자를 지정

In [ ]:
print (b) #print 함수로 b출력

4

In [ ]:
a+b
# a변수+b변수

6

In [ ]:
a*b
#a*b 곱

8

In [ ]:
a/b
# a변수 ÷ b 변수

0.5

In [ ]:
a = 123   #a 변수 선언하고 a에 123라는 숫자를 지정

In [ ]:
type(a)
# type함수로 변수 a의 타입은 어떤건지 출력 /   현재  int  정수

int

In [ ]:
b = 123.1 #b 변수 선언하고 b에 123.1 라는 소수점을 지정

In [ ]:
type(b)
# type함수로 변수 a의 타입은 어떤건지 출력  (float 실수/소수점을 포함한 숫자)

float

In [ ]:
c = a+b  # c변수 생성하고 c변수에 a변수+b변수를 넣어줘

In [ ]:
c  # c 를 출력

246.1

In [ ]:
type(c) # type함수로 변수 a의 타입은 어떤건지 출력  (float 실수/소수점을 포함한 숫자)

float

In [ ]:
type(int(c)) #타입을 int함수를 이용해서 c변수를  정수로 변경해줘

int

In [ ]:
d = "python"   # d 변수 만들고 b변수안에 python를 넣어줘

In [ ]:
type(d)
# type함수로 변수 d의 타입은 어떤건지 출력 / str 문자

str

In [ ]:
3**3
# 숫자제곱    숫자**숫자

27

In [ ]:
3**0.5
#루트는 제곱에 2/1이니까 파이썬에서는  0.5소수 /  **0.5로 표현

1.7320508075688772

In [ ]:
13/4
# 13÷4

3.25

In [ ]:
13//4
#13÷4 정수만 뽑을땐 // 사용

3

In [ ]:
13%4
#13÷4 나누고 나머지값을 출력

1

In [ ]:
print ("ubion's the best.")

ubion's the best.

In [ ]:
print("ubion isn't the best")

ubion isn't the best

In [ ]:
print('ubion isn\'t the best')
# 쌍따옴표가 아닌 따옴표를 쓸때 \'를 쓰면 '따옴표를 쓸수있다

ubion isn't the best

In [1]:
print('ubion isn\'     t the best') #붙여주는 기능은 없는거 같다. \를 이용해서 따옴표만 쓸수있는듯

ubion isn'     t the best

In [2]:
print('ubion is the best.\n ubion isn\'t the best')
#\n 을 이용해서 뛰어쓰기

ubion is the best.
 ubion isn't the best

In [ ]:
a = "ubion is the best." #변수 a 만들고 변수a에 ubion is the best. 넣어줘

In [ ]:
b = "ubion isn't the best" #변수 b 만들고 변수b에 ubion isn't the best 넣어줘

In [ ]:
ubion = a+b    # a변수 + b변수를 더해서 변수 ubion 에 넣어줘

In [ ]:
print(ubion)   # print로 ubion 변수 출력
# a와b 변수를 더한값을 ubion 값으로 출력

ubion is the bestubion isn't the best

In [ ]:
a*20
# a변수를 20번 출력

'ubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the bestubion is the best'

In [ ]:
print("-"*40)
print(a*2)
print("-"*30)
# - 를 40번 곱해서 출력
# a변수값을  2번 출력
# -를 30번 곱한값 출력

----------------------------------------
ubion is the best.ubion is the best.
------------------------------

In [ ]:
"유비온은 최고의 교육기간이다."[0:3]
# [a:b] : a<- x <b]
# [a(열):b(행)] : a<- x <b]
#a보다 크거나 같고, b보다 작은 인덱스를 꺼내온다.

'유비온'

In [ ]:
"유비온은 최고의 교육기간이다."[-3]
#-2는 뒤에서 3번째만 불러와라

'이'

In [5]:
"유비온은 최고의 교육기간이다."[5:3]
# 앞 숫자는 앞에 몇번째부터 / 뒷 숫자는 몇번째까지 이며 해당되는 구간을 출력해달라는 뜻이다

''

In [ ]:
first_name = "hyosung kim "[:7]
print(first_name)
# 처음부터 7번째 까지 불러와줘

hyosung

In [ ]:
last_name = "hyosung kim"[8:]
print(last_name)
# 8번째부터 마지막까지 불러와줘

kim

In [10]:
name = "hyosung kim"
len(name)
#문자열이(문자의 갯수) 몇개인지 출력

11

In [ ]:
first_name = "hyosung kim "[-4:-1]
print(first_name)
#뒤에서 4번째부터 마지막1번까지 출력

kim

In [ ]:
name.count("o")
#name 변수에 o 몇개인지 카운트해서 출력

1

In [ ]:
name.find("h")
#name 변수에 h 몇번째에 있는지 알려줘

0

In [ ]:
name.find("k")
#name 변수에 k 몇번째에 있는지 알려줘

8

In [11]:
a = " "
a.join("hyosung kim")
# a 변수 생성 변수 내용은 없음 
# a변수에 join 함수를 이용해서 hyosung kim 넣어서 출력

'h y o s u n g   k i m'

In [12]:
name.upper()
# name 변수를 대문자로 변경

'HYOSUNG KIM'

In [13]:
print (name) 
# upper 는 변수자체를 대문자로 변경해주는건 아니다 / a = .upper() 로 변수 자체를 대문자로 변경가능

hyosung kim

In [22]:
name = "hyosung KIM" #name 변수에 대문자로 HYOSUNG KIM 생성

In [23]:
name.lower()
# name 변수를 소문자로 모두 변경

'hyosung kim'

In [24]:
name[:5]+name[4].upper()+name[4:]
# name변수 5번째까지 출력 + name변수 4번째를 대문자로 변경 + name변수 4번째 부터 끝까지 출력

'hyosuUung KIM'

In [30]:
name = "        ssssss    " # name 변수에 ssssss 앞뒤로 공백을 넣음
name

'        ssssss    '

In [36]:
name.strip()
#(공백제거) name변수에 strip 함수이용 문자열의 앞과 뒤 즉, 왼쪽과 오른쪽 끝 공백을 모두 제거

'ssssss'

In [37]:
name.rstrip()
# name변수에 rstrip 함수이용 오른쪽 끝 공백을 모두 제거

'        ssssss'

In [39]:
name.lstrip()
# name변수에 lstrip 함수이용 왼쪽 끝 공백을 모두 제거

'ssssss    '

In [55]:
name = "hhsssh   sssh"

In [56]:
name.strip("h")
# name 변수에 strip 함수를 이용해서 양끝에 h가 나오지 않을때까지 삭제후 출력

'sssh   sss'

In [57]:
name = "   hhsssh   sssh   "

In [58]:
name.strip("h") #name 변수에 strip 함수를 이용해서 양끝에 h가 나오지 않을때까지 삭제실행결과 양끝에 공백이 있어 삭제안됨

'   hhsssh   sssh   '

In [60]:
name = "ssss kim"    #name 변수생성

In [62]:
name.replace("kim","you")
#name 변수 ,kim을 you로 변경해줘

'ssss you'

In [65]:
name.split()
# name 변수안에 내용을 뛰어쓰기 구분해서 출력

['ssss', 'kim']

In [85]:
ubion = "ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best.ubion is the best.ubion is the bestubion is the best"

In [86]:
ubion.split(".")
# split 함수이용 ubion 변수값을 . 점으로 구분해서 출력됨

['ubion is the best',
 'ubion is the bestubion is the best',
 'ubion is the best',
 'ubion is the bestubion is the best',
 'ubion is the best',
 'ubion is the bestubion is the best',
 'ubion is the best',
 'ubion is the bestubion is the best',
 'ubion is the best',
 'ubion is the bestubion is the best']

In [81]:
ubion = "ubion is the best,ubion is the bestubion is the best.ubion is the best,ubion is the bestubion is the best.ubion is the best,ubion is the bestubion is the best,ubion is the best.ubion is the bestubion is the best.ubion is the best,ubion is the bestubion is the best."

In [82]:
ubion = ubion.split(",")
print (ubion)
# split 함수이용 ubion 변수값을 , 컴마로 구분해서 출력됨

['ubion is the best', 'ubion is the bestubion is the best.ubion is the best', 'ubion is the bestubion is the best.ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best.ubion is the bestubion is the best.ubion is the best', 'ubion is the bestubion is the best.']

In [ ]:
print(ubion)

['ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', 'ubion is the best', 'ubion is the bestubion is the best', '']

In [89]:
aryucke = "umpy는 수학에서 말하는 '행렬'을 다루는 파이썬 모듈입니다. 파이썬 list 자료구조와 최대한 유사하게 디자인되었다는 점을 기억하면 좋겠습니다. Numpy에서 '행렬'을 '다차원배열'이라고 부르는데 이 넘파이 다차원 배열을 만들기 위해서 함수를 사용합니다"
print(aryucke)

umpy는 수학에서 말하는 '행렬'을 다루는 파이썬 모듈입니다. 파이썬 list 자료구조와 최대한 유사하게 디자인되었다는 점을 기억하면 좋겠습니다. Numpy에서 '행렬'을 '다차원배열'이라고 부르는데 이 넘파이 다차원 배열을 만들기 위해서 함수를 사용합니다

In [91]:
aryucke.split (" ") #split 함수이용 aryucke 변수 내용을 공백으로 구분해서 열로 출력

['umpy는',
 '수학에서',
 '말하는',
 "'행렬'을",
 '다루는',
 '파이썬',
 '모듈입니다.',
 '파이썬',
 'list',
 '자료구조와',
 '최대한',
 '유사하게',
 '디자인되었다는',
 '점을',
 '기억하면',
 '좋겠습니다.',
 'Numpy에서',
 "'행렬'을",
 "'다차원배열'이라고",
 '부르는데',
 '이',
 '넘파이',
 '다차원',
 '배열을',
 '만들기',
 '위해서',
 '함수를',
 '사용합니다']

In [94]:
a = [1,2,3,4,5] # 변수 a에 대괄호로 리스트 만든후 1,2,3,4,5 숫자 넣음
a

[1, 2, 3, 4, 5]

In [95]:
type(a)  #type로 a 변수 확인 결과 list

list

In [97]:
b = (1,2,3,4,5)  #b변수 생성 소괄호로 튜플 만든후 1,2,3,4,5 숫자 넣음
b

(1, 2, 3, 4, 5)

In [ ]:
type(b)
#type로 a 변수 확인 결과 튜플 tuple이다

tuple

In [ ]:
a[3] = 7
a
# a변수 3번째를 숫자 7로 변경 / 1,2,3,4,5 -> 1, 2, 3, 7, 5 출력됨

[1, 2, 3, 7, 5]

In [98]:
b[3] = 7  #리스트 변경했던걸 b변수 튜플에 적용해보니 찾을수 없다고한다./튜플은 변경이 불가하다
# 튜플 사용시 변경 하지 않아도 괜찮을때 튜플 사용

TypeError: ignored

In [99]:
b.replace(3,4)
#b 변수 역시 replace 함수이용 변경시도 했으나 튜플이라 변경 불가
# 문자열.replace ("변경하고 싶은 문자/문자열","변경될 문자",횟수) 
#횟수 : 변경 횟수를 지정하지 않으면 찾은 모든 문자열이 변경됨

AttributeError: ignored

In [ ]:
a = [1,2,3,4,5]
b = ["1","2","3"]
a+b  #a변수+b변수 출력

[1, 2, 3, 4, 5, '1', '2', '3']

In [122]:
a

[1, 2, 3, 4, 5]

In [124]:
type(a)

list

In [ ]:
a * 2 # a 변수 곱하기 2  출력

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
b * 2 # b변수 곱하기 2  출력

['1', '2', '3', '1', '2', '3']

In [127]:
c = b * 2 
c   # c변수에 b변수 곱하기 2 값 넣음
# 리스트 b변수 값에 2를 곱한값이 소괄호 tuple 튜플로 출력

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [125]:
type(c)  #c변수값이 소괄호  tuple 튜플로 변경됨

tuple

In [114]:
c[1]  #c변수 첫번째 출력

2

In [132]:
c[1] = "2"

TypeError: ignored

In [130]:
c

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
b = ("1","2","3")

In [ ]:
b[2]
#b변수  2번째를 불러줘

'3'

In [ ]:
b[2] = "2"
#변수 b는 소괄호 튜플로 지정해서 변경 불가

TypeError: ignored

In [133]:
len(a) #a 변수안에 문자열 몇개인지 출력

5

In [ ]:
len(b) #b 변수안에 문자열 몇개인지 출력

3

In [137]:
a[0:3] #a변수에서 앞에서 3번째까지 출력

[1, 2, 3]

In [142]:
a[2:5] #a변수에서 앞 (2) 두번째부터 5번째까지 출력

[3, 4, 5]

In [ ]:
del a  # 삭제 a 변수

In [ ]:
a  # a 변수 출력 / 찾을수 없다고 에러메시지

NameError: ignored

In [144]:
a = [1,2,3,4,5] #a 변수 생성 
del a[0]
a
# a 변수의 0번째 삭제

[2, 3, 4, 5]

In [145]:
a = [1,2,4,3,5,6,8,7,9,10]
a.append(11)
a
# a 변수 뒷쪽에 11를 넣어줘

[1, 2, 4, 3, 5, 6, 8, 7, 9, 10, 11]

In [148]:
a.sort()
a
# a 변수를 숫자  정렬

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [149]:
a.reverse()
a
#a 변수를 숫자를 큰수를 앞쪽으로 올수있게 정렬해줘

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [150]:
a.index(6)
#a변수에서 6의 인덱스(저장소 위치)를 출력 / 0부터 시작

5

In [152]:
a

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [162]:
a = [1,3,4,1,3,4,1,3,4]
a

[1, 3, 4, 1, 3, 4, 1, 3, 4]

In [174]:
a.index(3)

1

In [176]:
a.insert(2, 30)
# a변수 2번째에 30을 넣어줘

In [177]:
a

[1, 3, 30, 4, 1, 3, 4, 1, 3, 4]

In [178]:
a.remove(30)
#a안에서 30을 지워줘

In [179]:
a

[1, 3, 4, 1, 3, 4, 1, 3, 4]

In [180]:
a.pop(4) #a변수에서 4번째 숫자 삭제

3

In [182]:
a # 4번째 숫자 3 삭제됨

[1, 3, 4, 1, 4, 1, 3, 4]

In [183]:
a.pop()
#a 변수에 pop(소괄호에) 몇번째를 지정하지 않으면 마지막 숫자를 제가한다.

4

In [184]:
a

[1, 3, 4, 1, 4, 1, 3]

In [185]:
a.count(4) # a 변수에서 숫자 4 몇개인지 출력

2

In [186]:
a.count(3)
## a 변수에서 숫자 3 몇개인지 출력

2

In [ ]:
a=[1,1,2,3,4,5,5,5,6,6,]

In [ ]:
a.count(5)

3

In [ ]:
len(a) #변수 a에 문자열 갯수 출력

10

In [ ]:
import numpy as np
# numpy모듈을 import로 호출하고 numpy 를 np약자로 사용

In [ ]:
matrix = [[1,2,3,4,],[5,6,7,8,],[9,10,11,12]]
matrix
np.array(matrix, int).shape
# numpy모듈을 import로 호출하고 numpy 를 np약자로 사용
# matrix 출력
# 출력할때 넘파이로 변경해줘 matrix를 int 정수로 보여주고 shape 행과열을 알려줘/  출력값 : 3행 4열

(3, 4)

In [ ]:
a = ()
b = (1,2,3)

In [ ]:
c = ("x", "y", "z")

In [ ]:
d = b+c

In [ ]:
d

(1, 2, 3, 'x', 'y', 'z')

In [ ]:
a, b , c = (1,),(2,3),(4,5)  # 변수 a,b,c 한번에 생성하고 값지정

In [ ]:
print(a)

(1,)

In [ ]:
print(b)

(2, 3)

In [ ]:
print(c)

(4, 5)

In [ ]:
a = (1,2,3,4,) # a변수 소괄호 튜플 생성

In [ ]:
del a[1]
#튜플이라 삭제 불가

TypeError: ignored

In [ ]:
a = {"달러" : 1400, "엔화" : 100} #딕셔너리  중괄호로 지정
a
#[key키(달러) value값(1400)] 사전 key출력하면  value값을 출력
# value값에는 숫자, 문자, 문자열, 리스트, 튜플도 올 수 있다.
# key값에는 list.dict등 내용이 변경되는 오프젝트는 사용불가

{'달러': 1400, '엔화': 100}

In [ ]:
a["달러"]

1400

In [ ]:
a["위안"] #위안은 a변수 사전에 없어서 에러

KeyError: ignored

In [ ]:
a[1400]
# a변수 사전 불러오는 key키에 1400은 없다 / 값에는 1400원이 있지만 호출할땐 키를 불러야 값이 출력됨

KeyError: ignored

In [ ]:
print (a.get("위안")) # get함수는 출력하고자 하는 key가 없으면, 오류가 아닌 None을 출력

None

In [ ]:
print (a.get("달러"))

1400

In [ ]:
a.get("위안", "그런거 없어") #a변수에 get함수로 위안 key호출

'그런거 없어'

In [ ]:
a ["위안"] = 300

In [ ]:
a

{'달러': 1400, '엔화': 100, '위안': 300}

In [ ]:
a.get("위안", "그런거 없어")

300

In [ ]:
del a["엔화"]

In [ ]:
a

{'달러': 1400, '위안': 300}

In [ ]:
a = {'달러' : 1400, '위안' : 300, '위안' : 320'}

SyntaxError: ignored

In [ ]:
a.keys()
#a변수 사전에서 key키만 출력

dict_keys(['달러', '위안'])

In [ ]:
a.values()
#a변수 사전에서 values값만 출력

dict_values([1400, 300])

In [190]:
a = "statustucsssss"
s = set(a)
s
#같은값은 세트로 묶임/ 중복된 값은 허용하지 않는다

{'a', 'c', 's', 't', 'u'}

In [187]:
com = ["사원", "대리","팀장","실장","팀장"]

In [188]:
s_com = set(com)

In [189]:
s_com
# 중복된 값은 세트로 묶여서 한개의값으로 출력

{'대리', '사원', '실장', '팀장'}

In [211]:
a = set ([1,2,3])
b = set ([2,3,4])
#세트는 데이터들을 중괄호로 출력한다.
#집합을 구할려면 세트로 묶어서 볼수있다.

In [199]:
a

{1, 2, 3}

In [194]:
b

{2, 3, 4}

In [201]:
a & b
#a변수와 b변수 교집합 / "&" 기호를 이용하면 교집합을 간단히 구할 수 있다.

{2, 3}

In [202]:
a|b
# 합집합은 "|" 사용해 다음과 같이 구할 수 있다.  중복해서 포함된 값은 한 개씩만 출력된다.

{1, 2, 3, 4}

In [197]:
a - b
# 차집합은 다음과 같이 빼기(-) 기호를 사용 구할 수 있다. a의 차집합이니 값은 1 출력
# b의 차집합을 나타내게 하려면 b-a를 입력 / b의 차집합을 구하면 4가 출력됨

{1}

In [203]:
a^b  # 대칭 집합 / 서로 겹치지 않는 대칭차집합

{1, 4}

In [206]:
print(a.symmetric_difference(b))  # 대칭 집합 함수 2번째 / 서로 겹치지 않는 대칭차집합

{1, 4}

In [212]:
a

{1, 2, 3}

In [213]:
a.update([5,6,7])
# 여러 개의 값을 한꺼번에 추가(update) 사용
#1개의 값만 추가(add)할 경우에는 a.add(4)

In [214]:
a

{1, 2, 3, 5, 6, 7}

In [ ]:
a.remove(3)
#a변수에서 (소괄호)해당하는 숫자만 지워줘

In [ ]:
a

{1, 2, 5, 6, 7}

In [ ]:
a.remove(5)

In [ ]:
a

{1, 2, 6, 7}

In [ ]:
a.remove(7)

In [ ]:
a
# remove로 5를 제거한 결과값

{1, 2, 6}

In [ ]:
a = 100
b = 150
c = 200
# %d : integer 정수
# %f : float 실수
# %s : string 문자열
# %o로 8진수 포맷팅이나, %x로 16진수 포맷팅을 하는 것도 가능 
# 단, 이 때 변수에 담긴 값은 정수 수나 문자열 자료형 등이 들어오면 오류가 발생합니다.

In [221]:
print('정수 포맷팅(5자리 0으로채움) : %05d'%a)
print('정수 포맷팅(5자리 공백) : %5d'%a)

정수 포맷팅(5자리 0으로채움) : 00100
정수 포맷팅(5자리 공백) :   100

In [ ]:
print("사과 1개의 가격은 %d원 입니다." %a)
#%d를 이용해서 계속 변할수 있는 정수를 사용할때 이용하면된다.

사과 1개의 가격은 100원 입니다.

In [ ]:
print("사과 1개의 가격은 %d원 입니다." %b)

사과 1개의 가격은 150원 입니다.

In [ ]:
print("사과 1개의 가격은 %d원 입니다." %c)

사과 1개의 가격은 200원 입니다.

In [ ]:
print("사과 1개의 가격은 %d원 입니다. 사과 2개의 가격은 %d원 입니다" %(a, b))

사과 1개의 가격은 100원 입니다. 사과 2개의 가격은 150원 입니다

In [226]:
a = 100.50123
b = 150.50
c = 200

In [229]:
print('정수 (1자리 ) : %.1f'%a)
print('정수 (2자리 ) : %.3f'%a)
#1f정수 한자리 출력  3f는 정수 3자리까지 출력

정수 (1자리 ) : 100.5
정수 (2자리 ) : 100.501

In [230]:
print("사과 2개의 가격은 %.1f원 입니다." %b) #b변값을 %.1f  f앞에 숫자로 소수점을 몇개 표현할건지 정한다

사과 2개의 가격은 150.5원 입니다.

In [234]:
d = "김효성"
print("%s 고객님. 안녕하세요" %d)
print("사과 1개의 가격은 %d원 입니다" %a)
#a 변수값을 %d로 정수로만 출력

김효성 고객님. 안녕하세요
사과 1개의 가격은 100원 입니다

In [ ]:
e = 11

In [235]:
a+b

251.00123000000002

In [236]:
a = (5)

In [237]:
type(a)

int

In [ ]:
조건문

In [ ]:
#if
1 < 2    # 1보다 2가 크면 맞다고 해줘

True

In [ ]:
1 > 2    #  2보다 1이 크니?  출력값 : False 아니

False

In [ ]:
1 <= 2  # 2가 1보다 크거나 같니?   출력값 : True 맞아

True

In [ ]:
1<=1   # 1이 1보다 크거나 같니 ???  출력값 : True 맞아

True

In [ ]:
# and  교집합 
# or 합집합

In [ ]:
1 and 0 
#트루 펄스에서 펄스가 나온다 / 1 & 0 으로 해도 된다 / 교집합이 안되니까 0 거짓이 나온거다

0

In [ ]:
1 and 1    # and  교집합

1

In [ ]:
1 or 0    # or 합집합

1

In [238]:
not 1 #  참을 뜻하는 1에 반전 False 출력 / True참이면 반대로 False 거짓을 출력 False 거짓이면 True참을출력

False

In [ ]:
not 0

True

In [ ]:
"a"in "abc"  #abc안에 a가 있니???  답 : True 있어

True

In [ ]:
"e"in "ebc"   #ebc안에 e가 있니???  답 : True 있어

True

In [ ]:
"a"in "bc"    #bc안에 a가 있니???  답 : False 없어
#스트링 안에서 본것

False

In [ ]:
1 in [0,2,3,4]     #[0,2,3,4] 안에 1가 있니???  답 : False 없어
#리스트에서 본것

False

In [ ]:
1 not in [0,2,3,4]      #[0,2,3,4] 안에 1가 없니???  답 : True 응 니말이 맞아

True

In [ ]:
score = 75
if  score  > 90:
    print ("a")    # 스코어점수가  90보다 크면 a를 출력해줘  (else) 아니면 다음문장으로
else :      #여기까지 한 묶음  if ~ else까지 
    if score > 80 :     # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
        print("b")   # 스코어점수가  80보다 크면 b를 출력해줘  (else) 아니면 다음문장으로
    else :
        if score > 70 :      # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
            print("c")        # 스코어점수가  70보다 크면 c를 출력해줘  
        else :
            if score > 60 :        # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
                print("d")       # 스코어점수가  60보다 크면 d를 출력해줘 
            else :
                 print("f")

c

In [ ]:
score = 55
if  score  > 90:
    print ("a")    # 스코어점수가  90보다 크면 a를 출력해줘  (else) 아니면 다음문장으로
else :      #여기까지 한 묶음  if ~ else까지 
    if score > 80 :     # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
        print("b")   # 스코어점수가  80보다 크면 b를 출력해줘  (else) 아니면 다음문장으로
    else :
        if score > 70 :      # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
            print("c")        # 스코어점수가  70보다 크면 c를 출력해줘  
        else :
            if score > 60 :        # 이전의 else에서 4칸 스페이스 눌러서 뛰우고 다시 if ~ else 작성
                print("d")       # 스코어점수가  60보다 크면 d를 출력해줘 
            else :
                 print("f")   # f를 출력해줘

In [ ]:
1/0
#  ZeroDivisionError: division by zero 영으로 나눠서 잘못됬어

ZeroDivisionError: ignored

In [ ]:
try : 1/0
except :       # 오류가 발생하면  (분모가 0이 나왔음) 출력해줘
    print ("분모가 0이 나왔음")
else : 
    print("분모가 이상없음")      # 만약 오류가 발생하지 않으면 ("분모가 이상없음") 출력해줘

분모가 0이 나왔음

In [ ]:
try : 1/3
except : 
    print ("분모가 0이 나왔음")
else : 
    print("분모가 이상없음")

분모가 이상없음

In [ ]:
반복문

NameError: ignored

In [ ]:
#while. for  반복문 / 와일문은 계속 반복된다 그래서 잘 사용안한다

In [ ]:
i = 0
while i < 10 : 
        i+=1 # i = i+1
        print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in  range(10) :
      print(i)
      #어떤 볌위 안에서 찾아줘라

0
1
2
3
4
5
6
7
8
9

In [ ]:
j = 0
for i in range (10) : 
      j += i #j= i +j
      print(j)
      #하나씩 더해간다???????

0
1
3
6
10
15
21
28
36
45

In [ ]:
j = 0
for i in range (5, 10) : 
      print(i, end = " ")
      #인덱스 기준

5 6 7 8 9

In [ ]:
j = 0
for i in range (5, 10, 2) : 
      print(i, end = " ")

5 7 9

In [ ]:
def f(a) : 
       out = a /3
       return out

In [ ]:
f(30)
#30을 위에 3으로 나눈거다

10.0

In [ ]:
def div_3(a) : 
       out = a /3
       return out

In [ ]:
div_3(30)

10.0